/* Start Home */
.home {
    background-image: url(../../../../images/pricing_image.jpg);
    background-position: top;
    background-size: cover;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 80px;
}

.home .container .box {
    position: relative;
    height: auto;
    width: 270px;
    background: var(--white);
    border-radius: 10px;
    text-align: left;
    padding: 26px;
    overflow: hidden;
    box-shadow: 0px 0px 50px #64165480;
    color: var(--black);
}

.home .box .text {
    margin-bottom: 20px;
}

.home h3 {
    font-weight: bold;
    font-size: 20px;
}

.home p {
    color: var(--gray);
    font-size: 12px;
    margin-top: 10px;
}

.home .price {
    color: var(--purple);
    font-size: 26px;
}

.home .box ul li {
    margin: 10px 0;
}

.home .box ul li i {
    color: var(--yellow);
    margin-right: 10px;
}

.home .box .btn {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
/* End Home */

@media (max-width: 991px) {
    .home {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .home h3 {
        font-size: 16px;
    }
}
/* End Responsive */