/* Start Home */
.home {
    background-image: url(../../../../images/pos_solution_image.jpg);
    background-position: top;
    background-size: cover;
    color: var(--white);
}

.home h1 {
    color: var(--white);
    font-size: 35px;
    margin-bottom: 30px;
}

.home ul li {
    margin-top: 15px;
    font-size: 18px;
}

.home ul li i {
    color: var(--yellow);
    margin-right: 10px;
}
/* End Home */

@media (max-width: 991px) {
    .home {
        text-align: center;
    }
    .home ul {
        text-align: left;
        margin-bottom: 50px;
    }
}
/* End Responsive */