/* Start Home */
.home {
    position: relative;
    background-image: url(../../../../images/vision_image.jpg);
    background-position: top;
    background-size: cover;
    color: var(--white);
}

.home .text {
    position: absolute;
    bottom: 188px;
    left: 138px;
}

.home h1 {
    font-size: 35px;
    line-height: 47px;
    color: var(--white);
}

.home p {
    max-width: 664px;
    color: var(--white);
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
}
/* End Home */


@media (max-width: 991px) {
    .home {
        text-align: center;
    }
    .home .text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
    }
    .home p {
        font-size: 19px;
    }
}
/* End Responsive */