/* Start Home */
.home {
    background-image: url(../../../../images/online_payment_image.jpg);
    background-position: top;
    background-size: cover;
    color: var(--white);
}

.home h1 {
    line-height: 47px;
    font-size: 35px;
}

.home .description {
    max-width: 400px;
    opacity: 0.7;
    line-height: 30px;
}

.description {
    font-size: 16px;
}

.description span {
    font-weight: bold;
}
/* End Home */


/* Start Online Payemnt */
.online {
    background-color: var(--yellow);
    background-image: url(../../../../images/icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.online .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 50px;
    align-items: flex-start;
    justify-items: center;
}

.online .img img {
    width: 75px;
    height: 75px;
}

.online .text h1 {
    color: var(--gray);
    font-size: 35px;
}

.online .content .title {
    color: var(--purple);
    font-size: 25px;
    margin: 20px 0;
}

.online .content .description {
    color: var(--gray);
}
/* End Online Payemnt */


@media (max-width: 991px) {
    .online {
        padding-bottom: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .home .text {
        text-align: center;
    }
    .home h1 {
        font-size: 25px;
        line-height: 35px;
    }
}
/* End Responsive */