/* Start Home */
.home {
    background-image: url(../../../../images/mission_image.jpg);
    background-position: top;
    background-size: cover;
    color: var(--white);
}

.home h1 {
    font-size: 35px;
    line-height: 47px;
    color: var(--white);
}

.home p {
    max-width: 664px;
    color: var(--white);
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
}

.home p span {
    font-weight: bold;
}
/* End Home */


@media (max-width: 991px) {
    .home {
        text-align: center;
    }
    .home p {
        font-size: 19px;
    }
}
/* End Responsive */